body{
    padding: 0;
    margin: 0;
    background: black;
    font-family: "Avenir Next", sans-serif;
}
html {
    scroll-behavior: smooth;
}
h1{
    color: #fff;
    font-size: 64px;
}
h2{
    color: #fff;
    font-size: 48px;
    font-weight: 500;
}
h3{
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}
p{
    color: #fff;
    font-weight: 300;
    line-height: 2;
    font-size: 20px;
}
.btn{
    padding: 10px;
    text-transform: lowercase;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
}

nav{
    height: 95vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 0;
    bottom: 0;
    margin: 20px;
    padding-bottom: 10px;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 48px;
    fill: white;
    z-index: 9;
}
.social svg{
    fill: #fff;
}
.social svg:hover{
    fill: #bcbcbc;
    transition: .3s;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.item{
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0);
    border: white solid 1px;
    border-radius: 30%;
    cursor: pointer;
    transition: .3s;
}
.item:hover{
    rotate: 45deg;
}
.item.active{
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255);
    rotate: 45deg;
}

section{
    display: flex;
    flex-direction: column;
    margin: 0 auto 100px;
}
.descriptions {
    .card {
        position: sticky;
        h3{
            margin-bottom: 10px;
        }
        div {
            padding-left: 20px;
        }
        margin-top: -30px;
        a {
            text-decoration: none;
            color: #aaaaaa;
            font-size: 18px;
        }
    }
}
.graphics img, .graphics video {
    width: 500px;
}
#hero{
    height: 100vh;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70vw;
        border-radius: 40px;
        border: 1px solid white;
        transition: .3s;
    }
    img:hover{
        opacity: 0.5;
    }
}
.go-back {
    position: absolute;
    display: none;
    background: rgb(0, 0, 0);
    border-radius: 50px;
    width: 80px;
    height: 80px;
    svg{
        margin: 10px 50px 0 0;
    }
}

.mouse {
    width: 52px;
    height: 80px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    position: absolute;
    overflow: hidden;
    margin-top: 40px;

    background-color: rgba(0, 0, 0);
    z-index: 2;
    bottom: 6vh;
    left: 50%;
    transform: translateX(-50%);
}
.mouse .roll {
    position: absolute;
    top: 25px;
    left: 46%;
    width: 8px;
    height: 8px;
    margin-left: -2px;
    border-radius: 4px;
    background: #ffffff;
    -webkit-animation: mouseScroll 1s cubic-bezier(.7,0,.3,1) infinite alternate;
    animation: mouseScroll 1s cubic-bezier(.7,0,.3,1) infinite alternate;
    z-index: 2;
}
.mouse .rollshadow {
    position: absolute;
    top: 25px;
    left: 46%;
    width: 8px;
    height: 8px;
    margin-left: -2px;
    background: #aaa;
    border-radius: 4px;
    -webkit-animation: mouseScroll 1s cubic-bezier(.7,0,.3,1) infinite alternate;
    animation: mouseScroll 1s cubic-bezier(.7,0,.3,1) infinite alternate;
    -webkit-animation-delay: 80ms;
    animation-delay: 80ms;
    z-index: 1;
}
@-webkit-keyframes mouseScroll {
    0% {
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
    100% {
        -webkit-transform:translateY(20px);
        transform:translateY(20px)
    }
}



#cansat{
    width: 70vw;
}
#sft{
    width: 70vw;
}
#render-challenge{
    width: 70vw;
}
#personal{
    width: 70vw;
}
#client{
    width: 70vw;
}
#thanks{
    width: 70vw;
}
